* {
  font-family: Futura, Trebuchet MS, Arial, san-serif;
  color: #202124;
}
h1 {
  font-size: 60px;
  margin: 5px;
}
#dd {
  color: red;
  margin: 30px 0px 30px 47px;
}
.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  padding: 10px;
}
.nav a,
.nav a:active,
.nav a:hover,
.nav a:visited {
  color: #202124;
  text-decoration: none;
}
.nav a:active,
.nav a:hover {
  text-decoration: underline;
}
.searchbar {
  width: 500px;
  height: 20px;
  display: block;
  margin: 10px;
  padding: 10px;
  border-color: #888888;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
}

@media only screen and (max-width: 480px) {
  .searchbar {
    width: 90%;
  }
}
.searchbar-q {
  width: 500px;
  margin: 10px 5px 5px 5px;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
@media only screen and (max-width: 768px) {
  .searchbar-q {
    width: 190px;
  }
}
.searchbutton {
  background-color: #f8f9fa;
  border-style: none;
  margin: 11px 4px;
  padding: 8px 16px;
}
table {
  margin: 40px 0 0 45px;
}
.txt tr td .searchbutton {
  float: right;
  background-color: #4d90fe;
  color: #ffffff;
}
.ver {
  margin-top: 150px;
}
@media only screen and(max-width:500px) {
  .var {
    margin-top: 15px;
  }
}
.searchbar:hover,
.searchbar:focus,
.searchbutton:hover,
.searchbar-q:hover,
.searchbar-q:focus {
  box-shadow: 0 0 1px 1px #888888;
  outline: none;
}
